{% extends 'MayflowerJiraIssueVoteBundle::layout.html.twig' %}
{% block body %}
<div class="row" style="margin-top: 20px">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>What do you want to vote for?</h4>

                {% if invalidFilterId|default(false) == true %}
                    <div class="alert alert-danger">
                        <p>The given filter is invalid. Please contact an administrator!</p>
                    </div>
                {% endif %}

                {% if filters is not empty %}
                    <div class="table-responsive row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 50%; text-align: center;">Information</th>
                                        <th style="width: 50%; text-align: center;">Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for filter in filters %}
                                    <tr>
                                        <td style="text-align: center">
                                            <p><b>{{ filter.name }}</b></p>
                                            <p><i style="color: #888">Owned by {{ filter.ownerName }}</i></p>
                                            <p><a href="{{ filter.viewUrl }}" target="_blank">View in JIRA for more details</a> </p>
                                        </td>
                                        <td style="vertical-align: middle; text-align: center">
                                            <form action="{{ subscribe_issue_collection_url }}" method="post">
                                                <input type="hidden" name="filter_id" value="{{ filter.id }}" />
                                                <input type="hidden" name="filter_name" value="{{ filter.name }}" />
                                                <button type="submit" name="submit" class="btn btn-primary" style="margin-top: 0px;">Show issues</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        <p>You have no favourite issues yet. Please add some!</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block title %}Select filter{% endblock %}
